<!DOCTYPE html>
<html {% if page.lang %}lang="{{ page.lang }}"{% endif %}>
<head>
    <meta charset="utf-8">
    {% if page.title_override %}
    <title>{{ page.title_override }}</title>
    {% else %}
    <title>{{ page.title }} &#187; {{site.title }}</title>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">

    {% if page.lang %}
    {% else %}
    <meta name="robots" content="noindex, follow">
    {% endif %}


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/social-buttons-3.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/table.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Update these with your own images

      <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="{{ ASSET_PATH }}/images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="{{ ASSET_PATH }}/images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate"
          title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate"
          title="Sitewide RSS Feed">
    -->
</head>

<body>
<div class="wrap-line">
    &nbsp;
</div>
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% if page.lang %}/{{ page.lang }}/food{% else %}#{% endif %}">
                    {% case page.lang %}
                    {% when 'nl' %}Eten + Drinken
                    {% when 'fr' %}Manger + Boisson
                    {% else %}Food + Drinks
                    {% endcase %}</a></li>
                <li><a href="{% if page.lang %}/{{ page.lang }}/food#takeaway{% else %}#{% endif %}">
                    {% case page.lang %}
                    {% when 'nl' %}Afhalen
                    {% when 'fr' %}Plat à emporter
                    {% else %}Take Away
                    {% endcase %}
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% if page.lang %}/{{ page.lang }}/lodgement{% else %}#{% endif %}">
                    {% case page.lang %}
                    {% when 'nl' %}Logies
                    {% when 'fr' %}Logement
                    {% else %}Lodgement
                    {% endcase %}
                </a></li>
                <li><a href="{% if page.lang %}/{{ page.lang }}/groups{% else %}#{% endif %}">
                    {% case page.lang %}
                    {% when 'nl' %}Evenementen + Groepen
                    {% when 'fr' %}&Eacute;v&eacute;nement + GROUPE
                    {% else %}Events + Groups
                    {% endcase %}
                </a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
        <h1 class="logo hidden-xs">
            <a href="/{% if page.lang %}{{ page.lang }}{% endif %}" title="l'Entrepot du Congo">
                <img src="{{ ASSET_PATH }}/images/entrepot-115.png" alt="l'Entrepot du Congo" width="95" height="141">
            </a>
        </h1>
    </div>
</div>

<div id="wrap">
    <div class="container">

        <div class="content">
            {{ content }}
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-md-2">
                    <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/" title="l'Entrepot du Congo">
                        <img src="{{ ASSET_PATH }}/images/entrepot-200.png" alt="l'Entrepot du Congo" width="135"
                             height="200">
                    </a>
                </div>
                <div class="col-md-3">
                    <h4>l'Entrep&#244;t du Congo</h4>
                    <address>
                        Vlaamsekaai 42<br>
                        2000 Antwerpen<br>
                    </address>
                    <p>
                        <a href="tel:+32475528215">+32 475 52 82 15</a><br>
                        <a href="mailto:info@entrepotducongo.com">info@entrepotducongo.com</a><br>
                        <a href="http://entrepotducongo.com">entrepotducongo.com</a>
                    </p>

                </div>
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x47c3f6ecd7a7cdf9%3A0x277082395f63157a!2sL&#39;Entrepot+du+Congo%2C+Vlaamsekaai+42%2C+2000+Antwerpen!5e0!3m2!1sen!2sbe!4v1388092112954" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                </div>
                <div class="col-md-2">
                    <form>
                        <select class="form-control language-select">
                            <option {% if page.lang == 'en' %}selected{% endif %} value="en">English</option>
                            <option {% if page.lang == 'nl' %}selected{% endif %} value="nl">Nederlands</option>
                            <!--<option {% if page.lang == 'fr' %}selected{% endif %} value="fr">fran&ccedil;ais</option>-->
                        </select>
                    </form>
                    <hr />
                    <a class="btn btn-facebook btn-block" href="https://www.facebook.com/entrepotducongo"><span class="fa fa-facebook"></span> | Facebook</a>
                    <a class="btn btn-google-plus btn-block" href="https://plus.google.com/101729553693648953944/"><span class="fa fa-google-plus"></span> | Google Plus</a>
                    <a class="btn btn-success btn-block" href="http://www.tripadvisor.com/Restaurant_Review-g188636-d1018023-Reviews-L_entrepot_du_congo-Antwerp_Antwerp_Province.html"><span class="fa fa-tripadvisor"></span> TripAdvisor</a>




                </div>
            </div>

        </footer>
    </div>

</div>


{% include JB/analytics %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="{{ ASSET_PATH }}/js/jquery.popupwindow.js"></script>

<script type="text/javascript">
    $(function () {
        $(".popup").popupwindow();

        var changeLang = function(language) {
            var permalink = "{{page.permalink}}"

            {% if page.lang %}
            window.location = permalink.replace("\/{{page.lang}}", "/" + language).replace("/index.html", "")
            {% else %}
            window.location = "/" + language + permalink.replace("/index.html", "")
            {% endif %}
        }
        $("select.language-select").change(function (e) {
            changeLang($(this).val())
        })

        $(".language-select button").click(function (e) {
            changeLang($(this).attr("data-language"))
        })
    });
</script>


</body>
</html>
